<% @order.order_details.each do |item| %>
  <tr class="first odd">
    <td>
      <div class="cart-product">
        <%= link_to image_tag(item.product.image), "#" %>
      </div>
    </td>
    <td>
      <h2 class="product-name"><%= link_to item.product.name, "#" %></h2>
    </td>
    <td class="a-center">
      <span class="cart-price">
        <span class="price"><%= item.product.price %><%= t "currency" %></span>
      </span>
    </td>
    <td class="a-center">
      <p><%= item.order.address %></p>
    </td>
    <td class="a-center">
      <p><%= item.quantity %></p>
    </td>
    <td class="a-center last">
      <span class="cart-price">
        <span class="price"><%= item.total_price %><%= t "currency" %></span>
      </span>
    </td>
  </tr>
<% end %>
