<div class="row">
  <div class="col-md-12">
    <div class="portlet box green">
      <div class="team-heading">
        <h3>
          <%= t "category_list" %>
          <%= link_to t("add_new"), new_admin_category_path, class: "btn btn-primary" %>
        </h3>
        <hr>
      </div>
      <div class="portlet-body">
        <table class="table table-striped table-hover table-responsive datatable"
          id="data-list">
          <thead>
            <tr>
              <th><%= t "number" %></th>
              <th><%= t "name" %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
                <tr>
                  <th><%= category.id %></th>
                  <th><%= category.name %></th>
                  <th>
                    <% if category.products.length == 0 %>
                      <%= link_to edit_admin_category_path(category.id), title: t("edit") do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>
                      <%= link_to t("delete"), admin_category_path(category.id),
                        method: :delete, class: "btn btn-danger btn-sm",
                        data: {confirm: t("detele_category")} %>
                    <% elsif category.status? %>
                      <%= link_to edit_admin_category_path(category.id), title: t("edit") do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>
                      <%= link_to t("disable"), admin_category_path(category.id), method: :put,
                        class: "btn btn-success btn-sm", data: {confirm: t("disable_category")}%>
                    <% else %>
                      <span><%= t "disabled" %></span>
                    <% end %>
                  </th>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
