<% @products.each do |product| %>
  <tr>
    <th><%= product.name %></th>
    <% if !product.image.nil? %>
      <th><%= image_tag product.image %></th>
    <% else %>
      <th><%= t "no_image" %></th>
    <% end %>
    <th><%= product.price %><%= t "currency" %></th>
    <th><%= product.quantity %></th>

    <th>
      <%= link_to edit_admin_product_path(product.id), title: t("edit") do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    </th>
    <th>
      <%= link_to t("delete"), admin_product_path(product.id),
        method: :delete, class: "btn btn-danger btn-sm",
        data: {confirm: t("admin.confirm_del")}  %>
    </th>
  </tr>
<% end %>
