<div class="row">
  <div class="col-md-12">
    <div class="portlet box green">
      <div class="team-heading">
        <h3><%= t "suggest_list" %></h3>
        <hr>
      </div>
      <div class="portlet-body">
        <table class="table table-striped table-hover table-responsive datatable"
          id="data-list">
          <thead>
            <tr>
              <th><%= t "name" %></th>
              <th><%= t "image" %></th>
              <th><%= t "description" %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @suggests.each do |suggest| %>
              <tr>
                <th><%= suggest.name %></th>
                <% if !suggest.image.nil? %>
                  <th><%= image_tag suggest.image %></th>
                <% else %>
                  <th><%= t "no_image" %></th>
                <% end %>
                <th><%= suggest.description %></th>
                <th>
                  <% if suggest.status? %>
                    <%= link_to new_admin_product_path(product_suggest: suggest.id), title: t("add") do %>
                      <span class="glyphicon glyphicon-pencil"><%= t "add" %></span>
                    <% end %>
                  <% else %>
                    <span><%= t "added" %></span>
                  <% end %>
                </th>
                <th>
                  <%= link_to t("delete"), admin_suggest_path(suggest.id),
                    method: :delete, class: "btn btn-danger btn-sm",
                    data: {confirm: t("admin.confirm_del")} %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
