<div class="footer">
  <div class="container">
    <div class="agile-footer-grids">
      <div class="col-md-4 agile-footer-grid">
        <h4><%= t ".about_us" %></h4>
        <p><%= t ".about_description" %><h5>
        <div class="agileinfo-social-grids">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-vk"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 agile-footer-grid">
        <h4><%= t ".popular_product" %></h4>
        <div class="popular-grids">
          <div class="popular-grid">
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 agile-footer-grid">
        <h4><%= t ".new_suggest" %></h4>
        <p class="suggest"><%= t ".user_suggest" %></p>
          <%= link_to t(".submit"), new_suggest_path, class: "suggest-product" %>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="agileits-copyright">
  <div class="container">
    <p>&copy;<%= t ".copy_right" %> <%= t "title" %></p>
  </div>
</div>
