<div class="header">
  <div class="logo">
    <h1><%= link_to t("title") %></h1>
  </div>
  <div class="top-nav">
    <span class="menu"><%= image_tag "menu.png" %></span>
    <ul>
      <li><%= link_to t("home"), root_path, class: "active" %></li>
      <li><%= link_to t(".categories"), "#" %></li>
      <li><%= link_to t(".menu"), "#" %></li>
      <li class="cart">
        <%= link_to "#" do %>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <span class="em-topcart-qty">0</span>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to t(".profile"), "#" %></li>
        <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t(".signup"), new_user_registration_path %></li>
        <li><%= link_to t(".signin"), new_user_session_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to t(".signout"), destroy_user_session_path,
            method: :delete %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
